@import 'normalize-scss';


body{
  height: 100%;
}

html{
  height: 100%;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

*,*::before,*::after{
  box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }


ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}